{% extends 'base.html' %}

{% block title %} Jogos - Aldeota Clube | Melhor time de futebol amador de Fortaleza/CE {% endblock %}

{% block main %}
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading text-uppercase">Jogos</h2>
            </div>
            {% for jogo in jogos %}
            <div class="info-noticia">
                Aldeota x {{ jogo.adversario }}
                <div class="clear-noticias"></div>
            </div>
            {% endfor %}
        </div><!-- .row -->
    </div>
</section>
{% endblock %}

{% block atletas %}{% endblock %}