@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);
@import url(http://fonts.googleapis.com/css?family=Montserrat);

body{overflow-x:hidden;}

img{max-width:100%;}

h1,h2,h3,h4,h5,h6{font-family: 'Oswald', sans-serif;}

.col-centered{ float: none; margin: 0 auto;   text-align: center;}
.logo img{ height: 185px; width:auto; padding:15px 0;}
header{box-shadow: 0px 2px 6px #FFFFFF; margin-bottom:20px;}
header h1{
	color:#fff;
	/*opacity: 0.5;*/
	font-size: 50px;
	/*text-shadow: 2px 2px #000;*/
	margin-bottom:0;
}
header h3{
	color:#fff;
	/*opacity: 0.4;*/
	font-weight:normal;
	margin-top:0;
	margin-bottom:20px;
}

.navbar .nav.pull-right { float: right; margin-right: 0; }
h1.text-right, h3.text-right {color: #fff !important;}
.navbar {
    margin-top: 10px;
    background-color: #0093DD !important;
    border: 0px;
}

.navbar-default .navbar-nav > li:first-child > a{ background:none;}
.navbar-default .navbar-nav > li > a{font-family: 'Titillium Web', sans-serif; text-transform:uppercase; color:#fff; font-size:18px;
background: url('../images/divisao-menu.png') top left no-repeat; content: ""; padding: 13px 4px 10px 25px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{color:#fff; opacity:0.7;}

.flexslider .slides > li{position:relative;}
.flexslider .titulo-materia{padding:15px 20px; position: absolute; z-index: 9999; width:85%; bottom: 0;
font-family: 'Montserrat', sans-serif;font-size:44px; line-height: 44px; color:#fff; text-shadow: 3px 3px #000; font-weight:bold;}
.flexslider .slides img {  max-height: 435px !important;}

.post-inner{margin-bottom:30px;}
.post-titulo{margin-top:0;}
.post-data{ color:#000; padding:15px 0 2px;}
.post-data p{margin:0;}

.post-thumbnail{overflow:hidden;}
.post-thumbnail img,.flex-viewport img{
	-webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.post-thumbnail img:hover,.flex-viewport img:hover{
	transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
  }

.title-placar{color:#D2D2D2; text-align:center; margin: 0; padding: 12px; border-top-left-radius: 5px; border-top-right-radius: 5px;}
.proximo-jogo,.jogo-anterior{width:100%; background: url('../images/bg-placar.png') top center; margin-bottom:21px;
-webkit-box-shadow: inset 0px 0px 10px 1px rgba(133,133,133,1);
-moz-box-shadow: inset 0px 0px 10px 1px rgba(133,133,133,1);
box-shadow: inset 0px 0px 10px 1px rgba(133,133,133,1);
padding:17px 0 18px 0;
border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;
font-family: 'Titillium Web', sans-serif;
}
.jogo-anterior{margin-bottom:30px;}
.info-jogo-placar{font-size:16px; color:#000; text-align:center; padding-top:20px}

.placar-jogo{text-align:center; font-size:16px;}
.inv{padding:0 10px;   font-size: 60%;   vertical-align: middle;}
.p-absolute {position: absolute;}
.destaque-placar {
font-size: 45px;
width: 90px;
display:inline-block;
text-align: center;
margin: 0 10px;
vertical-align: middle;
}
.t-mandante, .t-visitante{
right: 0;
font-size:20px;
vertical-align: middle;
display: inline-block;
vertical-align: -webkit-baseline-middle;
}
.t-mandante {text-align: right;}
.t-visitante {text-align: left;}

.t-mandante img, .t-visitante img{width:50px;}

#noticias{ padding:30px 0 30px;}

#elenco_home .numemo_atleta h3{padding: 0 10px 0 10px; font-size:30px;}
#elenco_home .nome_posicao h4{  font-size: 15px;}

.owlnext,.owlprev{ cursor:pointer;
 -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
 -o-user-select: none;
 user-select: none;
}

.navegacao_elenco{ font-size:40px; text-align:center;   padding-top: 100%;}

.box_comentário{width:100%; margin:0 auto; padding: 10px 20px 20px 20px; background: #DAE0F0; border:1px solid #3B5998;}

hr{
  margin: 20px 5px;
  border:0;
}



#patrocinio{text-align: center; padding-bottom:30px;}
#patrocinio h4{padding:30px 0 20px;}
#patrocinio ul{padding: 0;}
#patrocinio ul.list-patrocinio li {
display: inline;
margin: 0 20px 5px;
}
#patrocinio ul.list-patrocinio li a {
height: 70px;
overflow: hidden;
}
#patrocinio ul.list-patrocinio li img{ height:60px; width:auto;}


footer{ padding-top:20px;}
footer h4{padding: 10px 10px 0 0; color: #fff; float: left; font-weight: lighter;}
footer ul.midias{padding: 14px;}

footer ul.menu{ text-align:center; padding:20px 0;}
footer ul li{ list-style:none; display:inline-block;}
footer ul.menu li a{ padding:0px 20px; display:inline-block; border-right:1px dotted #fff;}
footer ul.menu li:last-child a{border-right:0;}
footer a{color:#fff;}
footer a:hover{color:#fff;}

.creditos{color:#fff; font-size:14px; text-align:center; padding:10px 0 20px; opacity:0.6;}



/*Páginas internas*/
#interna{margin-top: 15px;}
#interna h1, h1.right-line{ margin-top: 0px; margin-bottom:20px;}

.right-line {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.right-line:after {
  position: absolute;
  top: 58%;
  overflow: hidden;
  width: 100%;
  height: 1px;
  content: '\a0';
  background-color: #fff;
  margin-left: 20px;
}

.data_noticia{margin-bottom:10px; font-size:12px;}
.data_publicacao{font-size:13px;}
.inner-content{ margin-bottom:40px; font-size: 15px;}
.inner-content p{ margin-bottom:18px;}
.inner-content img{ max-width:100%; height:auto; margin-bottom:20px;}

.btn-compartilhar{ border: 1px solid #17446B; color:#fff; background-color: #3a5795;}
.btn-compartilhar:hover, .btn-compartilhar:focus{ color:#fff; background-color: #17446B;}
.box_comentario{ padding:0 20px 10px;   color: #3a5795;  background-color: #e9eaed;  border: 1px solid #3a5795;}

.inner-content .table  .thumbnail,.inner-content .table  .thumbnail img{ margin-bottom:0;}

.valign-middle{vertical-align: middle !important;}
/*Fim Páginas internas*/


/*o clube*/

h4.subcategoria{margin: 35px 0 18px;}

/*noticias*/
.item_noticia{ margin-bottom:20px;}
.item_noticia span{font-size:13px; padding-bottom:5px; display:block;}
h3.title_noticias{margin: 0 0 10px;}

.current_noticia img{max-width:100%; height:auto;}

/*Elenco*/
.box_atleta img{ margin-bottom: 0; border:1px solid #DDD; border-bottom:0; background:#fff;}
.box_infoatleta {
	border: 1px solid #DDD;
	border-top: 0;
	margin-bottom: 35px;
	padding: 15px 0 0;
	border-radius: 0 0 3px 3px;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 26%, #eeeeee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(26%,#ffffff), color-stop(100%,#eeeeee));
	background: -webkit-linear-gradient(top, #ffffff 26%,#eeeeee 100%);
	background: -o-linear-gradient(top, #ffffff 26%,#eeeeee 100%);
	background: -ms-linear-gradient(top, #ffffff 26%,#eeeeee 100%);
	background: linear-gradient(to bottom, #ffffff 26%,#eeeeee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
}
.numemo_atleta { display: inline-block;}
.numemo_atleta h3 {
	display: block;
	text-align: center;
	padding: 0 15px 0 15px;
	border-right: 1px solid #DDD;
	margin:0px 0px;
	font-size: 34px;
}
.nome_posicao {	padding: 0 0 0 12px; display: inline-block;}
.nome_posicao h4{margin:0;}

.foto_elenco img{width:100%; border: 1px solid #DDD;  border-bottom: 0;}
.subtitulo{ clear:both; font-size:22px; font-family: 'Titillium Web', sans-serif; font-weight:bold; padding: 5px 10px; color:#fff; margin-bottom: 10px;}

/* fim Elenco*/


/*artilharia*/
.tabela-heading .tabela_custom-title h4{   margin: 6px 3px 7px 0;  float: left;  padding: 7px;}
.tabela_custom-title select{ color:#000;   margin-top: 5px;}
.tabela_custom .tabela_custom-body { padding: 5px; background:#fff;}
.tabela_custom .tabela_custom-body .table{margin-bottom:10px;}
.tabela-heading { color: #fff;}
.table tbody > tr:first-child td{  border-top: 0;}
.table > thead > tr > th { border-bottom: 1px solid #ddd;}
.table tr td{font-size: 13px;}
.txt_artilharia{ font-family: 'Oswald', sans-serif; font-size:18px !important; color:#7D7D7D;}

/*Contato*/
#contact .form .box input.nome {
  background: url("../images/formname.png") white no-repeat 5px;
}
#contact .form .box input.email {
  background: url("../images/formmail.png") white no-repeat 5px;
}
#contact .form .box input.telefone {
  background: url("../images/formphone.png") white no-repeat 5px;
}
#contact .form .box input[type="text"] {
  padding-left: 39px;
  margin-bottom: 10px;
  color: black;
  height: 39px;
  border-radius: 3px;
}
#contact .form .box textarea {
  padding: 11px;
  margin: 0;
  border-radius: 3px;
  height: 139px;
}

#contact  .submit  input[type="submit"] {
  float: left;
  color: #fff;
  font-size: 15px;
  padding: 7px 16px;
  border: 0 none;
  border-radius: 3px;
  margin-top:20px;
  -webkit-transition: background linear .2s, box-shadow linear .2s;
  -moz-transition: background linear .2s, box-shadow linear .2s;
  -o-transition: background linear .2s, box-shadow linear .2s;
  transition: background linear .2s, box-shadow linear .2s;
}
#contact label.error {
  font-size: 12px;
  color: #D70000;
}

  .navbar-nav{  margin-top: 5px;}

@media (max-width: 767px) {
	.logo img {
		height: 70px;
		padding: 0;
	}

	header{border-bottom:0!important;}

	.navbar{ margin-bottom:0;}
	.navbar ul{width: 100%;}
	.navbar-default .navbar-nav > li > a{background:none; padding-left: 10px; font-size:14px; line-height: 16px; display:block;}
	.navbar-default .navbar-toggle .icon-bar{background:#fff;}
	.navbar .nav.pull-right { float: left !important; margin-right: 0;}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {	border-color: transparent;}

	.flexslider .titulo-materia{ font-size:20px; line-height:20px;}
	.navbar-nav {
	  margin-top: 0;
	}

	.navegacao_elenco{ padding-top:100px;}

	#interna h1, h1.right-line{ margin-top: 0px; margin-bottom:20px; font-size:26px;}

}

@media (min-width: 768px) and (max-width: 992px) {
	header h1{ font-size:38px;}
	header h3{ font-size:26px;}
	.navbar-default .navbar-nav > li > a{
		font-size:13px;
		padding: 30px 7px 0px 8px;
		background:none;
	}
	.navbar-nav {
  margin-top: 0;
}
}

