{% extends 'base.html' %}

{% block title %} Notícias - Aldeota Clube | Melhor time de futebol amador de Fortaleza/CE {% endblock %}

{% block main %}
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading text-uppercase">Notícias</h2>
            </div>
            <div class="info-noticia">
                <img src="{{ noticia.imagem.url }}" alt="">
                <span>
                    <div class="info-title">
                        {{ noticia.titulo }}</div><br />
                    <p class="info-data"><i class="fa fa-calendar"></i>&nbsp;{{ noticia.data }}</p>
                </span>
                <div class="info-blog">
                    {{ noticia.conteudo }}
                </div>
            </div>
        </div><!-- .row -->
    </div>
</section>
{% endblock %}