{% load static %}

<! DOCTYPE HTML>
<html lang="pt-br" prefix="og: http://ogp.me/ns#">
<head>
	<meta charset="utf-8">
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">

	<link rel="shortcut icon" href="{% static 'images/favicon-aldeota.jpg' %}" />

	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

	<title>{% block title %}{% endblock %}</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <meta property="og:title" content="Aldeota Clube"/>
    <meta property="og:description" content="Aldeota Clube - Time de Futebol amador de Fortaleza/CE" />
    <meta property="og:image" content="{% static 'images/logo-aldeota.png' %}"/>
    <meta property="og:url" content="http://www.aldeotaclube.com.br"/>

</head>

<body>
    
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="{% url 'home' %}">
              <img src="{% static 'images/logo-aldeota.png' %}" alt="Aldeota Clube" width="100px" height="100px">
          </a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'sobre' %}"><b>Sobre o time</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'noticias' %}"><b>Notícias</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'atletas' %}"><b>Atletas</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'artilharia' %}"><b>Artilharia</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'contato' %}"><b>Contato</b></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  
	  <!-- Header -->
      <header class="masthead">
          <div class="container">
            <div class="intro-text">
              <div class="intro-lead-in">&nbsp;</div>
              <div class="intro-heading text-uppercase">&nbsp;</div>
              <br /><br />
            </div>
          </div>

          <!-- Partida -->
          <div class="partida">
              <div class="container">
                {% for jogo in jogos %}
                <div class="row">
                  <div class="col-md-3">
                      <img src="{% static 'images/aldeotaclube.png' %}" alt="" width="100px" height="100px"> X
                      <img src="{% static 'images/aldeotaclube.png' %}" alt="" width="100px" height="100px">
                  </div>
                  <div class="col-md-3 jogo">
                    <span>
                      <b>Aldeota x {{ jogo.adversario }}</b>
                      <br />
                      <i class="fa fa-calendar"></i>&nbsp;
                      {{ jogo.data }}
                      <br />
                      <i class="fa fa-map-marker"></i>&nbsp;
                      {{ jogo.local }}
                      <br />
                      <i class="fa fa-gavel"></i>&nbsp;
                      {{ jogo.arbitragem }}
                    </span>
                  </div>
                </div>
                {% endfor %}
              </div>
          </div>
      <!-- Partida -->
      </header>

	  <!-- Notícias -->
	  {% block main %}
      <section id="services">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">Notícias</h2>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-md-4">
              <img src="{% static 'images/3.jpg' %}" alt="" width="300px" height="250px">
              <h4 class="service-heading">E-Commerce</h4>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <div class="col-md-4">
                <img src="{% static 'images/4.jpg' %}" alt="" width="300px" height="250px">
              <h4 class="service-heading">Responsive Design</h4>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <div class="col-md-4">
                <img src="{% static 'images/5.jpg' %}" alt="" width="300px" height="250px">
              <h4 class="service-heading">Web Security</h4>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
          </div>
        </div>
	  </section>
	  {% endblock %}
  
	  <!-- Atletas -->
	  {% block atletas %}
      <section class="bg-light" id="portfolio">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">Atletas</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div id="Carousel" class="carousel slide">
                
                <ol class="carousel-indicators">
                    <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#Carousel" data-slide-to="1"></li>
                    <li data-target="#Carousel" data-slide-to="2"></li>
                </ol>
                  
                <!-- Carousel items -->
                <div class="carousel-inner">
                    
                  <div class="carousel-item active">
                    <div class="row">
                      <div class="col-md-3"><a href="#" class="thumbnail"><img src="{% static 'images/img-breno.jpg' %}" alt="Image" style="max-width:100%;"></a></div>
                      <div class="col-md-3"><a href="#" class="thumbnail"><img src="{% static 'images/img-jogador.jpg' %}" alt="Image" style="max-width:100%;"></a></div>
                      <div class="col-md-3"><a href="#" class="thumbnail"><img src="{% static 'images/img-breno.jpg' %}" alt="Image" style="max-width:100%;"></a></div>
                      <div class="col-md-3"><a href="#" class="thumbnail"><img src="{% static 'images/img-jogador.jpg' %}" alt="Image" style="max-width:100%;"></a></div>
                    </div><!--.row-->
                  </div><!--.carousel-item-->
                    
                  <div class="carousel-item">
                    <div class="row">
                      <div class="col-md-3"><a href="#" class="thumbnail"><img src="{% static 'images/img-breno.jpg' %}" alt="Image" style="max-width:100%;"></a></div>
                      <div class="col-md-3"><a href="#" class="thumbnail"><img src="{% static 'images/img-jogador.jpg' %}" alt="Image" style="max-width:100%;"></a></div>
                      <div class="col-md-3"><a href="#" class="thumbnail"><img src="{% static 'images/img-breno.jpg' %}" alt="Image" style="max-width:100%;"></a></div>
                      <div class="col-md-3"><a href="#" class="thumbnail"><img src="{% static 'images/img-jogador.jpg' %}" alt="Image" style="max-width:100%;"></a></div>
                    </div><!--.row-->
                  </div><!--.carousel-item-->
                    
                  <div class="carousel-item">
                    <div class="row">
                      <div class="col-md-3"><a href="#" class="thumbnail"><img src="{% static 'images/img-breno.jpg' %}" alt="Image" style="max-width:100%;"></a></div>
                      <div class="col-md-3"><a href="#" class="thumbnail"><img src="{% static 'images/img-jogador.jpg' %}" alt="Image" style="max-width:100%;"></a></div>
                      <div class="col-md-3"><a href="#" class="thumbnail"><img src="{% static 'images/img-breno.jpg' %}" alt="Image" style="max-width:100%;"></a></div>
                      <div class="col-md-3"><a href="#" class="thumbnail"><img src="{% static 'images/img-jogador.jpg' %}" alt="Image" style="max-width:100%;"></a></div>
                    </div><!--.row-->
                  </div><!--.carousel-item-->
                    
                </div><!--.carousel-inner-->

                <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
              
              </div><!--.Carousel-->
                   
            </div>
          </div> 
        </div>
      </section>
	  {% endblock %}

	  <!-- Patrocinadores -->
	  {% block clientes %}
      <section class="py-5">
        <div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading text-uppercase">Patrocinadores</h2>
				</div>
			</div>
          	<div class="row">
				<div class="col-md-12 col-sm-6">
				<a href="#">
					<img class="img-fluid d-block mx-auto" src="{% static 'images/parceiros.jpg' %}" alt="">
				</a>
				</div>          
          	</div>
        </div>
	  </section>
	  {% endblock %}
    
	  <!-- Footer -->
	  {% block rodape %}
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <span class="copyright">Copyright &copy; <b>Aldeota Clube 2018</b></span>
            </div>
            <div class="col-md-4">
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-inline quicklinks">
                <li class="list-inline-item">
                  Desenvolvido por <a href="http://wwww.eltonmelosantos.com.br" target="blank">Elton Santos</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </footer>
	{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    
</body>