{% extends 'base.html' %}

{% block title %} Atletas - Aldeota Clube | Melhor time de futebol amador de Fortaleza/CE {% endblock %}

{% block main %}
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading text-uppercase">Atletas</h2>
            </div>
            {% for atleta in atletas %}
            <div class="info-noticia">

                <div class="info-atleta">
                    <a href="{% url 'atletas:detalhes' slug=atleta.slug %}">
                        <img src="{{ atleta.imagem.url }}" alt="{{ atleta.imagem }}">
                        <p>{{ atleta.nome }}{{ atleta.sobrenome }}</p>
                    </a>
                </div>
                <p class="info-data">{{ atleta.data }}</p>

                <div class="clear-noticias"></div>
            </div>
            {% endfor %}
        </div><!-- .row -->
    </div>
</section>
{% endblock %}

{% block atletas %}{% endblock %}